*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
input{
	width: 0;
	opacity: 0;
}
body{
	background-color: orange;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.conteneur{
	width: 700px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 3px 3px;
	padding: 10px;
}
/*----------------------------------*/
.texte-annexe{
	border-radius: 10px;
	border: 2px solid orange;
	padding: 10px;
}
/*-------------------------------------*/
.texte{
	padding: 10px 0;
	height: 185px;
	text-align: justify;
}
/*--------------------------------*/
.texte p{
	word-break: break-all;
	color: black;
	font-size: 20px;
}
/*----------------------------------*/
.texte p span{
	opacity: 0.9;
}
.texte p span.active{
	color: green;
	opacity: 1;
	background-color: black;
}
.texte p span.valide{
	color: blue;
	opacity: 1;
}
.texte p span.errone{
	color: red;
	opacity: 1;
}

/*-------------------------------------*/
.annexe{
	width: 100%;
	display: flex;
	align-items: center;
}
.ligne{
	width: 100%;
	border-top: 5px solid orange;
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/*-------------------------------*/
.ligne ul{
	display: flex;
	justify-content: space-between;
	color: black;
	width: 70%;
}
.ligne button{
	background-color: white;
	color: orange;
	border-radius: 5px;
	border: 2px solid orange;
	height: 30px;
	margin-right: 10px;
	width: 100px;
	transition: all .2s linear;
}
.ligne button:hover{
	background-color: orange;
	color: black;
	border-color: white;
}
/*----------------------------*/
.ligne ul li {
	list-style: none;
}
.annexe ul li:not(:first-child){
	border-left: 2px  solid black;
	padding-left: 10px;
}
/*------------------------*/
.annexe ul li p{
	display: inline-block;

}
/*-------------------------*/